.kaggle/
logs/
workspace/
.env
**/__pycache__/
*.pyc
venv/

# Misc
openai_api_key.txt
test.ipynb
notes.txt
MLAgentBench/benchmarks/
MLAgentBench_v2/benchmarks/
MLAgentBench_v2/LLM_MSFT.py
results.json